/* index-style.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth; }
    @media only screen and (max-width: 75em) {
      html {
        font-size: 59%; } }
    @media only screen and (max-width: 56.25em) {
      html {
        font-size: 56%; } }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 65%; } }

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%; }

body {
    box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 40px;
}
a {
    text-decoration: none;
    color: inherit; }
  
  li {
    list-style: none; }

input:focus,
button:focus,
a:focus,
textarea:focus {
    outline: none; }
    
button {
    border: none;
    cursor: pointer; }
    
textarea {
    resize: none; }  
    
/* Header styles */
.header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    flex-wrap: wrap; /* Allow items to wrap on small screens */
}@media only screen and (max-width: 600px) {
    .header {
        height: 45px; /* Reduce height for smaller screens */
    }
}

.header_logo {
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Prevent logo from shrinking */
}

.header_logo_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.header_logo_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_logo_img_sub {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.main_menu_links {
    list-style: none;
    display: flex;
}

.main_menu_link-wrapper {
    margin-right: 20px;
}

.header_link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}
/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .header_logo_img {
        width: 25px;
        height: 25px;
    }
    
    .header_logo_img_sub,
    .header_link {
        font-size: 12px;
    }
}

/* Introduction section styles */
.Introduction{color: #fff;
  background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(160, 162, 165, 0.8)), url(BACK/design.svg);
  background-position: center;
  height: 100vh;
  min-height: 60rem;
  max-height: 100rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .Introduction {
      height: unset;
      min-height: unset;
 } }

.Introduction_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%; }
    @media only screen and (max-width: 37.5em) {
      .Introduction_content {
        padding: 19rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0, 0); } }
    .annoucing_name {
        align-items: center; /* Align items vertically */
        display: flex; /* Use flexbox for layout */
        justify-content: center; /* Align content horizontally */
        margin: 3rem auto 0 auto; /* Margin settings */
        max-width: 80rem; /* Maximum width */
        font-size: 45px; /* Font size */
      }@media only screen and (max-width: 37.5em){
        .annoucing_name{
            font-size: 40px;
            align-items: center;
        }
      }
          
      .first-impression {
        margin-top: 5rem; /* Top margin */
        text-align: center; /* Center text */
        font-size: 30px; /* Font size */
      }@media only screen and (max-width: 37.5em){
        .first-impression{
            font-size: 25px;
        }
      }
    
      .button_green {
        display: inline-block; /* Make the button inline-block */
        padding: 10px 20px; /* Padding */
        font-size: 18px; /* Font size */
        font-weight: bold;
        background-color: #44c134cd; /* Background color */
        color: #fff; /* Text color */
        text-decoration: none; /* Remove underline */
        border: none; /* Remove border */
        border-radius: 5px; /* Border radius */
        cursor: pointer; /* Cursor style */
        transition: background-color 0.3s ease; /* Transition effect */
      }
      
      .button_green:hover {
        background-color: #157c0c; /* Darker background color on hover */
      }
      
      .Name_projects {
        text-align: center; /* Align center */
        margin-top: 20px; /* Top margin */
        margin-bottom: 10px;
      }
      
    
.heading_title{
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3.5rem;
  position: relative; }
  .heading_title--lt {
    color: #fff; }
    .heading_title--lt::after {
      content: '';
      background: #fff !important; }
    .heading_title::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: rgba(0, 98, 185, 0.8);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px; }
    @media only screen and (max-width: 37.5em) {
    .heading_title::after {
        top: calc(100% + 1.2rem); } }

.heading_content {
  display: block;
  text-align: center;
  color: #777;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6; }
  @media only screen and (max-width: 37.5em) {
    .heading_content {
      font-size: 1.8rem; } }
  .heading_content--lt {
    color: #eee; }    

    .about_content_and_skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10rem;
        margin-top: 5rem;
    }
    
    @media only screen and (max-width: 56.25em) {
        .about_content_and_skills {
            grid-template-columns: 1fr;
            grid-gap: 8rem;
        }
    }

.about {
    background: #fafafa;
    order:1;
    grid-column: span 2;  }
    .about_content {
        display: grid;
        grid-gap: 10rem;
        margin-left: 2rem; }
        @media only screen and (max-width: 56.25em) {
        .about_content {
           grid-gap: 8rem; } }
        .about_content-title {
           font-weight: 700;
           font-size: 2.8rem;
           margin-top: 5rem;
           margin-bottom: 1rem; }
        .about_content_detail_para {
            font-size: 1.8rem;
            color: grey;
            max-width: 60rem;
            line-height: 1.7;
            margin-bottom: 3rem;
            margin-top: 1rem; }
        .about_content_detail_para--hl {
            font-weight: 700;
            margin: 0 3px; }
        .about_content_detail_para:last-child {
            margin-bottom: 4rem; }


.skills {
    display: flex;
    flex-wrap: wrap;
    order:2 }
    .about_skills_title{
        font-weight: 700;
        font-size: 2.8rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .each_skill {
      padding: 1rem 1rem;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      font-size: 1.6rem;
      background: rgba(153, 153, 153, 0.2);
      border-radius: 5px;
      font-weight: 600;
      color: #777; }


.project_row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem; }
    @media only screen and (max-width: 56.25em) {
        .project_row {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-bottom: 8rem; } }
    @media only screen and (max-width: 56.25em) {
        .project_row {
        text-align: center; } }
    .project_row:last-child {
        margin-bottom: 0; }
    .project_row_img {
        overflow: hidden; }
    .projects__row-img {
        width: 100%;
        display: block;
        object-fit: cover; }
    .project_row_content {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start; }
        @media only screen and (max-width: 56.25em) {
        .projec_row_content {
            align-items: center; } }
        .project_row_content_title {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 37.5em) {
            .projects_row_content_title {
            font-size: 2.4rem; } }
        .project_row_content_para {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 3rem; }
        @media only screen and (max-width: 37.5em) {
            .project_row_content_para {
            font-size: 1.7rem; } }

/* Contact section styles */

.contact {
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(160, 162, 165, 0.8)), url(BACK/design.svg);
    background-size: cover;
    background-position: center;
     }
    .contact__form-container {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 4rem;
      margin-top: 6rem;
      max-width: 80rem;
      text-align: right;
      width: 95%;
      border-radius: 5px;
      margin: 5rem auto 0 auto; }
      @media only screen and (max-width: 37.5em) {
        .contact__form-container {
          padding: 3rem; } }
    .contact__form-field {
      margin-bottom: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .contact__form-field {
          margin-bottom: 3rem; } }
    .contact__form-label {
      color: #666;
      font-size: 1.4rem;
      letter-spacing: 1px;
      font-weight: 700;
      margin-bottom: 1rem;
      display: block;
      text-align: left; }
    .contact__form-input {
      color: #333;
      padding: 2rem;
      width: 100%;
      border: 1px solid #ebebeb;
      font-size: 1.6rem;
      letter-spacing: 0px;
      background: #f0f0f0;
      border-radius: 5px;
      font-weight: 600;
      /* Code for Modern Browsers */
      /* Code for WebKit, Blink, Edge */
      /* Code for Internet Explorer 10-11 */
      /* Code for Microsoft Edge */
      /* Code for Mozilla Firefox 4 to 18 */
      /* Code for Mozilla Firefox 19+ */ }
      .contact__form-input::placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem; }
      .contact__form-input::-webkit-input-placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem; }
      .contact__form-input:-ms-input-placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem; }
      .contact__form-input::-ms-input-placeholder {
        color: #999;
        font-weight: 600;
        font-size: 1.6rem; }
      .contact__form-input:-moz-placeholder {
        opacity: 1;
        color: #999;
        font-weight: 600;
        font-size: 1.6rem; }
      .contact__form-input::-moz-placeholder {
        opacity: 1;
        color: #999;
        font-weight: 600;
        font-size: 1.6rem; }
    .Contact_submit_button {
      width: 30%;
      padding: 2rem 4rem;
      font-size: 1.6rem; }
      @media only screen and (max-width: 37.5em) {
        .Contact_submit_button {
          width: 100%; } }


/* Footer styles */
.main_footer {
    background: #000;
    color: #fff;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}

@media only screen and (max-width: 56.25em) {
    .main-container {
        padding: 6rem 0;
    }
}

@media only screen and (max-width: 37.5em) {
    .main-container {
        display: block;
    }
}

.main_footer_row-1 {
    order: 2;
    width: 48%; /* Adjust the width as needed */
}

@media only screen and (max-width: 56.25em) {
    .main_footer_row-1 {
        margin-bottom: 5rem;
        width: 100%;
    }
}

.main_footer_row-2 {
    width: 48%; /* Adjust the width as needed */
    max-width: 50rem;
    order: 1;
}

@media only screen and (max-width: 56.25em) {
    .main_footer_row-2 {
        width: 100%;
    }
}

.heading_main_footer_row-1 {
    margin-top: 2rem;
    color: #ffffff;
    font-size: 2rem;
    line-height: 1.7;
}

.main_footer_row-1_cont {
    margin-top: 2rem;
}

.heading_main_footer_row-2 {
    margin-top: 2rem;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 1.7;
}

.main_footer_row-2_cont {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.main-footer__icon {
    margin-right: 1rem;
    width: 2.5rem;
}

.main-footer__icon_wordpress {
    margin-right: 1rem;
    width: 2.5rem;
    background-color: #ebebeb;
    border-radius: 60%;
}

.main-footer__icon--mr-none {
    margin-right: 0;
}

.projects_section_exp {
    margin-bottom: 5rem;
    text-align: center;
}

@media only screen and (max-width: 56.25em) {
    .projects_section_exp {
        margin-bottom: 3rem;
    }
}

.projects_section_exp:last-child {
    margin-bottom: 0;
}

.project_enlarge_img {
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    margin-bottom: 10px; /* Optional: Add margin to separate from other content */
}

.project_enlarge_img img {
    max-width: 45%; /* Adjust the percentage as needed */
    display: block;
    object-fit: cover;
}

.project_desc {
    
    padding: 2rem 20px; /* Adjusted padding */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}


.project_desc .project_overview_content {
    font-size: 1.8rem;
    margin: 0 0 7rem 0;
    color: grey;
    max-width: 10rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
    .project_desc .project_overview_content {
        font-size: 1.7rem;
    }
}


.project_overview-heading{
    display: block;
    font-size: 2.5rem;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    font-weight:bold;
    margin-top: 6rem;
    margin-bottom: 3.5rem;
    margin-left :1rem;
    position: relative; }
    .project_overview-heading--lt {
      color: #fff; }
      .project_overview-heading--lt::after {
        content: '';
        background: #fff !important;
}

.Tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Center horizontally */
    order: 2;
}

.each_tool {
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #777;
}

